/* Main icon-box section */
.icon-box {
	margin: 40px 0 45px
}

.text-design {
	padding: 0
}

/* Meid for text-design to control of width in mobile screen */
@media (max-width: 768px) {
	.text-design {
		margin: 10px 0
	}
}
